Team : <p><%= @team.name%></p>
<p>Users:</p>
  <% @team.users.each do |x| %>
  <p><strong><%= x.last_name %>, <%= x.first_name %></strong>, <%= x.email %>, <%= x.address %>, <%= x.phone_number %></p>
  <% end %>
  <%= link_to 'Edit', edit_team_path(@team)%>
  <%= link_to 'Delete',
  team_path(@team),
  data:{confirm: 'Are you sure to delete the team?'},
  method: :delete%>
</p>
