  <div class="container" style="background-color:whitesmoke;box-shadow: 2px 2px 2px #888888;">
    <div class="row" style="padding: 20px;margin-top: 20px;margin-bottom: 30px;border-radius: 10px;">
      <div class="col-md-12">


          <%= form_with(model: event, local: true) do |form| %>
            <% if event.errors.any? %>
              <div id="error_explanation">
                <ul>
                <% event.errors.full_messages.each do |message| %>
                  <li style="color: red;"><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group row">
              <label for="event_title" class="col-sm-2 col-form-label">Event</label>
                <div class="col-sm-10">
                  <input type="text" name="event[title]" class="form-control">
                </div>
            </div>

            <div class="additional_info">
              <div class="form-group row">
                <label for="evet_description" class="col-sm-2 col-form-label">Additional info</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="event[description]" rows="3" id="event_description"></textarea>
                </div>
              </div>
            </div>
      <%= bootstrap_form_for(@event) do |form| %>
      <div class="row">
        <div class="col-lg-5">
          <%= form.datetime_select :start_time, id: :event_start_time, control_class: "custom-class" %>
        </div>
        <div class="col-lg-5">
          <%= form.datetime_select :end_time, {}, control_class: "form-control", id: :event_end_time %>
        </div>
      </div>

        <div class="form-group row">
          <label for="event_title" class="col-sm-2 col-form-label">Location</label>
            <div class="col-sm-10">
              <input type="text" name="event[location]" class="form-control" id="event_location">
            </div>
        </div>

      </div>

    </div>
  </div>


  <div class="container">
    <div class="row" style="margin: auto">
      <button type="submit" class="btn btn-primary" name="commit" style="margin: auto;width: 100%">SAVE & CLOSE</button>
    </div>
  </div>
    <% end %>
<% end %>
