<p id="notice"><%= notice %></p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Check POPUP window
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Please fill out the form below
      <%= render 'form_modal', event: @event %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- ENDENDEND -->

  <div class="container d-flex justify-content-center align-items-center">
    <div class='col-md-2'>
      <h5 class='mb-2'>VIEW BY TEAM:</h5>
      <ul class="list-unstyled list-border-black-20 list-border-y text-left text-black-70">
        <li class='py-2 list-group-item'>Vancouver</li>
        <li class='py-2 list-group-item'>Ricjmnd</li>
        <li class='py-2 list-group-item'>Burnaby</li>
        <li class='py-2 list-group-item'>Surrey</li>
        <li class='py-2 list-group-item'>Port oody</li>
        <li class='py-2 list-group-item'>Langley</li>
        <li class='py-2 list-group-item'>Abbotsgord</li>
      </ul>
    </div>

    <div class='col-md-7 text-center'>
      <h3>UPCOMING EVENTS</h3>
        <div id="calendar"></div>
      </div>

    <div class='col-md-3 text-center align-items-center'>
          <button type='button' class='btn btn-primary btn-block' id='viewevent' style="width: 100%; height: 100px"><link><%= link_to 'VIEW EVENT', events_path, class:'text-light' %></link></button>
          <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 100px"><link><%= link_to 'CREATE EVENT', events_path, class:'text-light' %></button>
          <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 100px"><link><%= link_to 'EDIT EVENT', events_path, class:'text-light' %></button>

    </div>

  </div>




    <div class='col-md-12 p-1 m-2 text-center' style="background-color: blue">
      <h1 class='text-light'>SPACE CALENDAR</h1>
    </div>

  <div class=container>
    <table class="table table-striped">
      <thead>
        <tbody>

        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Description</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
    <% @events.each do |event| %>


      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.location %></td>
          <% if event.user == current_user %>
          <td><button class='btn btn-primary'><%= link_to "Edit", event_path(event), class:'text-light' %></button></td>

          <td><%= link_to "Destroy", event, method: :delete, data: {confirm: "Are you sure?"} %></td>
             <% end %>
          <td><%= link_to 'Show', event %></td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>


<!-- <br>

<%= link_to 'New Event', new_event_path %>
