<!-- <p id="notice"><%= notice %></p> -->

    <% if user_signed_in? %>
     <% if @attending.present? %>
<div style="text-align: center;background-color: red;padding-bottom:0.5px;">
        <h1 style="font-family: Verdana, Arial, Helvetica, sans-serif;background:#f8f9fa;width: 100%;clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);"> <%= link_to "Leave Event", attending_path(@attending), method: :delete, :style=>'margin-right: 45px; font-size: 30px;color: red;' %> </h1>
</div>
         <% else %>
<div style="text-align: center;background-color:#4576ff;padding-bottom:0.5px;">
        <h1 style="font-family: Verdana, Arial, Helvetica, sans-serif;background:#f8f9fa;width: 100%;clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);"> <%= link_to "Join Event", event_attending_index_path(@event), method: :post, :style=>'margin-right: 45px; font-size: 30px' %> </h1>
</div>
     <% end %>
    <% end %>


<div style="background-color:#343a40;padding:40px;">
  <div class="container">


    <div class="row">
      <div class="col-lg-7">
        <% if user_signed_in? %>
         <% if @attending.present? %>
        <div class="card" style="background-color:#343a40;border-color: red;border-radius: 0 70px 0 0;">
          <div class="card-body">

            <h2 style="color: white;border-bottom: solid 1px;padding-bottom: 5px;"><%= @event.title %></h2>
            <br>

            <p style="color:white">
              <%= @event.description %>
            </p>

            <p style="color:white">
              <i class="fa fa-map fa-3" aria-hidden="true">&nbsp</i><strong style="font-style: italic">Location:</strong>
              <%= @event.location %>
            </p>

            <p class="text-right" style="color:white">
              <strong>Start time:</strong>
              <%= @event.start_time %>
            </p>

            <p class="text-right" style="color:white">
              <strong>End time:</strong>
              <%= @event.end_time %>
            </p>

            </div>
          </div>
          <button type="button" class="btn btn-danger" name="button" >Leave Event</button>
          <% else %>
          <div class="card" style="background-color:#343a40;border-color:#4eb1f7;border-radius: 0 70px 0 0;">
            <div class="card-body">

              <h2 style="color: white;border-bottom: solid 1px;padding-bottom: 5px;"><%= @event.title %></h2>
              <br>

              <p style="color:white">
                <%= @event.description %>
              </p>

              <p style="color:white">
                <i class="fa fa-map fa-3" aria-hidden="true">&nbsp</i><strong style="font-style: italic">Location:</strong>
                <%= @event.location %>
              </p>

              <p class="text-right" style="color:white">
                <strong>Start time:</strong>
                <%= @event.start_time %>
              </p>

              <p class="text-right" style="color:white">
                <strong>End time:</strong>
                <%= @event.end_time %>
              </p>

              </div>
            </div>
              <button type="button" class="btn btn-primary" name="button" >Join Event</button>
            <% end %>
          <% end %>
      </div>

      <div class="col-lg-5">
        <iframe
          width= '100%'
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBl-2WP3SNod5W4omla17FSxkS5uiP0SQ8
            &q=Vancouver+Harbour+Lookout+center,Vancouver+BC" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
<br>

  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
        <%= link_to('Delete Event', event_path(@event), data: {confirm: 'Are you sure you want to delete this event?'}, method: :delete, class: 'btn btn-danger') %>
        <button type="button" class="btn btn-primary" style="width: 20%"><%= link_to 'Edit', edit_event_path(@event) ,style: "color: white"%></button>
        <button type="button" class="btn btn-warning" style="width: 20%"><%= link_to 'Back', events_path  ,style: "color: white"%></button>
    </div>
  </div>

<div>
  <% if user_signed_in? %>
   <% if @attending.present? %>
<div id="footer_j">
  <div class="footer" style="padding: 0;padding-bottom:50px;">
    <div style="background-color: red;padding-bottom:0.5px;height: 10px;">
    </div>
    <div style="width: 250px;background-color: red;height: 60px;clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);">
    </div>
    <div class="container">
      <p style="color: grey; text-align:right;">Copyright &copy; Force of Nature Alliance 2017 <br> Made by Codecore</p>
    </div>
  </div>
</div>

<% else %>
<div id="footer_j">
  <div class="footer" style="padding: 0;padding-bottom:50px;">
    <div style="background-color: #4576ff;padding-bottom:0.5px;height: 10px;">
    </div>
    <div style="width: 250px;background-color: #4576ff;height: 60px;clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);">
    </div>
    <div class="container">
      <p style="color: grey; text-align:right;">Copyright &copy; Force of Nature Alliance 2017 <br> Made by Codecore</p>
    </div>
  </div>
</div>
<% end %>
<% end %>
