<div style="text-align: center;background-color:#4576ff;padding-bottom:0.5px;">
        <h1 style="font-family: Verdana, Arial, Helvetica, sans-serif;background:#f8f9fa;width: 100%;clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);"> <%= link_to "Sign In", new_user_session_path, :style=>'margin-right: 45px; font-size: 30px' %> </h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
  <br>
  <div class="form-group row">
    <label for="email">Email</label>
      <div class="col-sm-11">
        <input type="text" name="user[email]" class="form-control" id="email" autofocus="true">
      </div>
  </div>
  <div class="form-group row">
    <label for="password">Password</label>
      <div class="col-lg-11">
        <input type="text" name="user[password]" class="form-control" id="password">
      </div>
  </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group row">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

<div id="footer_j">
<div class="footer" style="padding: 0;padding-bottom:50px;">
  <div style="background-color: #4576ff;padding-bottom:0.5px;height: 10px;">
  </div>
  <div style="width: 250px;background-color: #4576ff;height: 60px;clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);">
  </div>
  <div class="container">
    <p style="color: grey; text-align:right;">Copyright &copy; Force of Nature Alliance 2017 <br> Made by Codecore</p>
  </div>
</div>
</div>
