<p>Hello</p>
<p>Don't forget you have an event coming up tomorrow</p>
<br/>
<p>The details of the event are listed below:</p>
<p>Event: <%= @event.title %></p>
<p>Description: <%= @event.description %></p>
<p>Start Time: <%= @event.start_time.strftime("%B-%C-%G %R") %></p>
<p>End Time: <%= @event.end_time.strftime("%B-%C-%G %R") %></p>
<p>Location: <%= @event.location %></p>

<p>give us your money </p>
<p>see you!</p>
