<!DOCTYPE html>
<html>
  <head>
    <title>TeamOneProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name,msg| %>
      <%= content_tag(:div,:msg, class: "alert alert-#{name}" ) %>
    <% end %>
    <% if user_signed_in? %>
      <!-- <ul>
        <li><%= link_to 'New Event', new_event_path %></li>
        <li><%= link_to 'Account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
      </ul> -->
      <%# else %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to('MISSION CONTROL', root_path, class: "navbar-brand") %>
            <li class="nav-item">
              <%= link_to('Command Centre', root_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Space Calendar', events_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Personnel', root_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Missions', root_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Briefings', root_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to('Slack', root_path, class: "nav-link") %>
            </li>
          </ul>

        </div>
      </nav>
      <div class='container'>

        <div class='row justify-content-between'>
          <div class="col-md-1">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Space_Probe_icon.svg/800px-Space_Probe_icon.svg.png' style='width:100px;'>
          </div>
          <div class="col-md-1">
            <img src='http://www.pocketables.com/images/2013/03/aosp-browser-icon.png' style='width:50px;'>
         </div>
          <div class="col-md-8 text-center" id='message-box' style="overflow: scroll">
            <p>My loneliness is killing me (and I)
              I must confess, I still believe (still believe)
              When I'm not with you I lose my mind
              Give me a siiiiiiiiiiiiiiiiign…
              HIT ME BABY ONE MORE TIME oh baaby oh baabyoh baabyoh baaby
              oh baabyoh baabyoh baabyoh baabyoh baabyoh baabyoh baaby
              oh baabyoh baabyoh baabyoh baabyoh baabyoh baabyoh baaby </p>
          </div>
          <div class="col-md-1">
            <img src='https://upload.wikimedia.org/wikipedia/commons/5/5b/Alien-hack-master.png' style='width:40px;'>
         </div>
          <div class="col-md-1">
            <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Space_Probe_icon.svg/800px-Space_Probe_icon.svg.png' style='width:100px;'>
          </div>
        </div>
      </div>
        <!-- <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li> -->
    <% end %>
    <%= yield %>
  </body>
</html>
